<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<th:block th:replace="~{/layout/header :: headerFragment}"/>
<body onload="fn_onload();">
<div class="board_wrap">
    <th:block th:replace="~{/layout/title :: titleFragment('속닥속닥 게시판', 'BBS')}"/>
    <div class="board_list_wrap">
<!--    <div class="board_list_nav">-->
<!--        <ul>-->
<!--            <li class="category none"><a href="/blog" >모든 글</a></li>-->
<!--            <li class="category news"><a href="/blog/mypage" sec:authorize="isAuthenticated()">내가 쓴글</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--     구성요소-->
    <div class="hero-section text-center">
        <h1 class="display-4">속닥속닥 블로그 입니다.</h1>
        <p class="lead">블로그 포스팅 목록</p>
    </div>
    <div class="container mt-5">
        <!-- 검색 창 -->
        <div class="search-bar mb-3">
            <input name="kwInput" id="kwInput"
                   type="text" class="form-control search-input required"
                   placeholder="검색어를 입력하세요" title="검색어"
                   onkeyup="event.keyCode === 13?fn_search():console.log(this.keyCode)" th:value="${postSearch.kw}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="search-icon" onclick="fn_search();">
                <path d="M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.26c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
            </svg>
        </div>
        <div class="no-photo-message text-center" th:if="${#lists.isEmpty(posts)}" style="font-size: 24px;">
            블로그 목록이 존재하지 않네요
        </div>
        <div class="row">
            <div class="col-md-4 mb-4" th:each="p:${posts}">
                <div class="card" th:onclick="'fn_detail(\''+${p.id}+'\')'">
                    <img th:if="${p.thumbnailImage == null}" src="/image/default_300.png" class="card-img-top" alt="...">
                    <img th:if="${p.thumbnailImage != null}" th:src="${p.thumbnailImage}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title" th:if="${p.locked != 1}" th:text="${p.title}"></h4>
                        <h4 class="card-title" th:if="${p.locked == 1}" th:text="|🔒 ${p.title}|"></h4>
                        <h5 class="card-subtitle mb-2 text-muted" th:text="|작성자 : ${p.userId}|"></h5>
                        <h5 class="card-subtitle mb-2 text-muted" th:text="|작성일 : ${p.createdTime}|"></h5>
                        <p class="card-text" th:utext="${p.contentPreview}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 페이지 로드를 위한 버튼 -->
    <button class="btn btn-primary btn-lg load-button" onclick="fn_load();">+더보기</button>
    <form name="blogForm" id="blogForm" method="GET">
        <input name="kw_opt" id="kw_opt" type="hidden" value="title"/>
        <input name="kw" id="kw" type="hidden" th:value="${postSearch.kw}"/>
        <input type="hidden" name="page" id="page" th:value="${postSearch.page}"/>
        <input type="hidden" name="size" th:value="${postSearch.size}"/>
        <input type="hidden" name="category" th:value="${postSearch.category}"/>
    </form>
</div>
</body>
<th:block th:replace="~{/layout/footer :: footerFragment}"/>
<script th:inline="javascript">

    const DEFAULT_SCROLL_Y = "110";
    function fn_onload() {
        $(".write-btn").show();
        const scrollY = parseInt(sessionStorage.getItem("scrollY"));
        if(scrollY && scrollY > 0){
            window.scrollTo(0, scrollY);
        }
    }

    function fn_load() {
        let nextPage = Number($("#page").val())+1;
        let loadUrl = '/blog/'+nextPage;
        loadUrl += '?kw='+$("#kw").val();
        loadUrl += '&kw_opt='+$("#kw_opt").val();

        $.ajax({
            url : loadUrl,
            method: 'GET',
            dataType: 'json',
            success: function(result){
                if(Object.keys(result).length === 0){
                      alert('포스팅이 존재하지 않습니다.');
                  } else {
                      console.log(result);
                      makePosts(result);
                      $("#page").val(nextPage);
                  }
            },
            error: function(res){
               console.log(res);
               alert('로딩에 실패 하였습니다.');
            }
        });
    }

    function fn_detail(id){
        let scrollHeight = $(document).scrollTop();
        sessionStorage.setItem("scrollY", scrollHeight);

        $('#blogForm').attr('action', '/posts/'+id);
        $('#blogForm').submit();
    }

    function fn_search() {
        let kwInput = $("#kwInput").val();
        if(common.isNotEmpty(kwInput)) {
            $("#kw").val(kwInput);
        } else {
            $("#kw").val('');
        }
        $('#page').val('1');
        sessionStorage.setItem("scrollY",DEFAULT_SCROLL_Y);
        $('#blogForm').submit();
    }

    function fn_write() {
        sessionStorage.setItem("scrollY", DEFAULT_SCROLL_Y);
        $('#blogForm').attr('action', '/posts/create');
        $('#blogForm').submit();
    }
    
    function makePosts(posts){
        let htmls = '';
        
        for(let i=0; i<posts.length; i++){
            let p = posts[i];
            htmls += "<div class='col-md-4 mb-4'>";
            htmls += "<div class='card' onclick='fn_detail("+p.id+");'>";
            if(!common.isNotEmpty(p.thumbnailImage)){
                htmls += "<img src='/image/default_300.png' class='card-img-top' alt='...'>";
            } else {
                htmls += "<img src='"+p.thumbnailImage+"' class='card-img-top' alt='...'>";
            }

            htmls += "<div class='card-body'>";
            htmls += "<h4 class='card-title'>"
            if(p.locked === 1) htmls += "🔒";
            htmls += p.title+"</h4>";
            htmls += "<h5 class='card-subtitle mb-2 text-muted'>작성자 : "+p.userId+"</h5>";
            htmls += "<h5 class='card-subtitle mb-2 text-muted'>작성일 : "+p.createdTime+"</h5>";
            htmls += "<p class='card-text'>"+p.contentPreview+"</p>";
            htmls += "</div></div></div>";
        }
        $('div.row').append(htmls);
    }
</script>
</html>