<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/js/common.js"></script>
  <script src="/smartEditor/js/service/HuskyEZCreator.js" charset="utf-8"></script>
  <script th:inline="javascript" type="text/javascript"
          th:src="@{/tuiEditor/toastui-editor-all.min.js}"></script>
  <script type="text/javascript">
    function fn_main() {
      window.location.href = '/posts';
    }

    function fn_login() {
      const frm = document.forms[0];
      const pathInput = document.createElement("input");
      pathInput.type = 'hidden';
      pathInput.name = 'path';
      pathInput.value = window.location.pathname;
      frm.action = '/login';
      frm.appendChild(pathInput);
      frm.submit();
    }

    function fn_pokedoc(){
      window.location.href = 'http://pokedoc2.site';
    }
  </script>
</th:block>
</html>