<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>속닥속닥</title>
  <link rel="icon" href="/image/favicon-32x32.png"/>
  <link rel="stylesheet" href="/css/css.css">
</head>
<body>
<div class="board_wrap">
  <div class="board_title">
    <a href="javascript:void(0);" onclick="javascript:fn_main();"><strong>익명 게시판</strong></a>
    <p>속닥속닥 익명게시판 입니다.</p>
  </div>
  <div layout:fragment="bt_area"></div>
  <div layout:fragment="content"></div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/common.js"></script>
<script type="text/javascript">
  function fn_main() {
    window.location.href = '/posts';
  }
</script>
<!-- custom javascript  -->
<th:block layout:fragment="script"></th:block>
</body>
</html>