<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/layout/header :: headerFragment"/>
<body>
<div class="board_wrap">
    <th:block th:replace="/layout/title :: titleFragment('익명게시판')"/>
    <div class="board_write_wrap">
        <div class="board_write">
            <div class="title">
                <dl>
                    <dt>제목</dt>
                    <dd>
                        <input type="text" class="required" name="title" title="제목" placeholder="제목 입력">
                    </dd>
                </dl>
            </div>
            <div class="info">
                <dl>
                    <dt>글쓴이</dt>
                    <dd>
                        <input type="text" class="required" name="userId" title="작성자" placeholder="작성자 입력">
                    </dd>
                </dl>
                <dl>
                    <dt>비밀번호</dt>
                    <dd>
                        <input type="password" class="required" name="password" title="게시글 암호" placeholder="게시글 암호 입력">
                    </dd>
                </dl>
            </div>
            <div class="cont">
                <textarea name="content" id="content" rows="10" cols="100"></textarea>
            </div>
        </div>
        <div class="bt_wrap">
            <a href="write.html" class="on" id="writeBtn">등록</a>
            <a href="javascript:void(0);" id="cancelBtn">취소</a>
        </div>
        <form id="writeForm" method="get">
            <input type="hidden" name="page" th:value="${postSearch.page}">
            <input type="hidden" name="size" th:value="${postSearch.size}">
            <input type="hidden" name="kw_opt" th:value="${postSearch.kw_opt}">
            <input type="hidden" name="kw" th:value="${postSearch.kw}">
        </form>
    </div>
</div>
</body>
<th:block th:replace="/layout/footer :: footerFragment"/>
<script th:inline="javascript">
    $(document).ready(function() {
        const wf = $("#writeForm");
        let oEditors = [];

        $("div.bt_wrap a#writeBtn").click(function (e) {
            e.preventDefault();
            if (common.validate.checkRequired("div.board_write .required")) {
                let postCreate = {};
                postCreate.title = $("input[name=title]").val();
                postCreate.userId = $("input[name=userId]").val();
                postCreate.password = $("input[name=password]").val();
                oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []);
                postCreate.content = $("textarea[name=content]").val();

                $.ajax({
                    url: '/posts',
                    method: 'POST',
                    contentType: 'application/json',
                    dataType: 'JSON',
                    data: JSON.stringify(postCreate),
                    success: function (response) {
                        alert('저장에 성공하였습니다.');
                        wf.attr("action", "/posts/" + response.id);
                        wf.submit();
                    },
                    error: function (response) {
                        console.log(response);
                        const responseJSON = response.responseJSON;
                        const rCode = responseJSON.code;
                        const rMessage = response.message;
                        const rValidation = responseJSON.validation;

                        if (rValidation != null) {
                            const rKeys = Object.keys(rValidation);
                            alert(rValidation[rKeys[0]]);
                        } else if (rMessage != null) {
                            alert(rMessage + "(오류코드 : " + rCode + ")");
                        } else {
                            alert("저장에 실패하였습니다. (오류코드 : " + rCode + ")");
                        }
                    }
                });
            }
        });

        $("div.board_write input[name=password]").on("keyup paste", function (e) {
            common.validate.password($(this));
        });

        $("div.bt_wrap a#cancelBtn").click(function (e) {
            e.preventDefault();
            wf.attr("action", "/posts");
            wf.submit();
        });

        editorLoading();

        function editorLoading(){
            nhn.husky.EZCreator.createInIFrame({
                oAppRef: oEditors,
                elPlaceHolder: "content",
                sSkinURI: "/smartEditor/SmartEditor2Skin.html",
                fCreator: "createSEditor2"
            });
        }
    });
</script>
</html>

