<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{/layout/header :: headerFragment}"/>
<body>
<div class="board_wrap">
<th:block th:replace="~{/layout/title :: titleFragment('속닥속닥 게시판',${postSearch.categoryCode})}"/>
<form id="editForm" action="" method="get">
    <input type="hidden" name="page" th:value="${postSearch.page}">
    <input type="hidden" name="size" th:value="${postSearch.size}">
    <input type="hidden" name="kw_opt" th:value="${postSearch.kw_opt}">
    <input type="hidden" name="kw" th:value="${postSearch.kw}">
    <input type="hidden" name="pwd"/>
    <input type="hidden" name="category" th:value="${postSearch.category}">
</form>
<div class="board_write_wrap">
    <form id="postForm" enctype="multipart/form-data">
    <input type="hidden" name="content" id="content"/>
    <input type="hidden" name="id" id="id" th:value="${response.id}"/>
    <div class="board_write">
        <div class="locked">
            <dl>
                <dt>익명글</dt>
                <dd>
                    <input type="checkbox" name="locked" title="게시글 잠금"
                           th:checked="${response.locked == 1}" value="1">
                </dd>
            </dl>
            <dl sec:authorize="hasRole('ADMIN')">
                <dt>작성일</dt>
                <dd>
                    <input type="text" name="createdTime" id="datepicker" title="" th:value="${response.createdTime}" style="cursor: pointer;" readonly>
                </dd>
            </dl>
        </div>
        <div class="title">
            <dl>
                <dt>제목</dt>
                <dd>
                    <input class="required" type="text" name="title" placeholder="제목 입력" title="제목" th:value="${response.title}">
                </dd>
            </dl>
        </div>
        <div class="info">
            <dl>
                <dt>글쓴이</dt>
                <dd th:text="${response.userId}"></dd>
            </dl>
            <dl>
                <dt>비밀번호</dt>
                <dd>
                    <input class="required" id="password_field" title="비밀번호"
                           type="password" name="password" placeholder="비밀번호 입력">
                </dd>
            </dl>
        </div>
        <div class="cont" id="editor">
        </div>
        <div class="file file_view">
            <dl>
                <dt>파일업로드 1</dt>
                <dd>
                    <input type="file" class="file_input" name="files" title="파일업로드">
                </dd>
            </dl>
            <ul th:if="${file1 != null}">
                <li class="file_info">
                    - 첨부파일1 삭제:
                    <input type="checkbox" name="delChk1" value="1"/>
                    <p th:text="|${file1.originalFileName} (${file1.fileSize}kbps)|"></p>
                    <input type="hidden" name="delFile1" th:value="${file1.id}"/>
                </li>
            </ul>
            <dl>
                <dt>파일업로드 2</dt>
                <dd>
                    <input type="file" class="file_input" name="files" title="파일업로드">
                </dd>
            </dl>
            <ul th:if="${file2 != null}">
                <li class="file_info">
                    - 첨부파일2 삭제:
                    <input type="checkbox" name="delChk2" value="1"/>
                    <p th:text="|${file2.originalFileName} (${file2.fileSize}kbps)|"></p>
                    <input type="hidden" name="delFile2" th:value="${file2.id}"/>
                </li>
            </ul>
        </div>
        <div class="bt_wrap">
            <a href="javascript:void(0);" class="on" id="saveBtn">저장</a>
            <a href="javascript:void(0)" id="cancelBtn">취소</a>
        </div>
    </div>
    </form>
</div>
</div>
</body>
<th:block th:replace="~{/layout/footer :: footerFragment}"/>
<script th:inline="javascript" type="text/javascript"
        th:src="@{/tuiEditor/toastui-editor-all.min.js}"></script>
<script th:inline="javascript">
    $(document).ready(function(){
        const postId = [[${response.id}]];
        history.replaceState(null, '', `/posts/edit/${postId}`);

        const ef = $("#editForm");
        const Editor = toastui.Editor;
        const editor = new Editor({
            el: document.querySelector('#editor'),
            height: '600px',
            initialEditType: 'markdown',
            previewStyle: 'vertical',
            initialValue: [[${response.content}]],
            placeholder: '내용을 입력해 해주세요.',
            hooks: {
                async addImageBlobHook(blob, callback) { // 이미지 업로드 로직
                    // 1. 에디터에 업로드한 이미지를 FormData 객체에 저장
                    const formData = new FormData;
                    formData.append('image', blob);

                    const response = await fetch('/tui-editor/image-upload', {
                        method: 'POST',
                        body: formData
                    });

                    const filename = await response.text();
                    if(filename == 'error'){
                        alert('이미지 업로드 중 오류가 발생하였습니다.');
                    } else {
                        console.log('filename : ', filename);
                        // addImageBlobHook의 callback 함수를 통해, 디스크에 저장된 이미지를 에디터에 랜더링
                        const imageUrl = `/tui-editor/image-print?filename=${filename}`;
                        callback(imageUrl, 'image alt attribute');
                    }
                }
            }
        });

        $("#datepicker").datepicker({
            dateFormat: 'yy-mm-dd',
            changeYear : true,
            changeMonth : true,
            monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
            dayNamesMin: ['일','월','화','수','목','금','토'],
            showMonthAfterYear : true,
            beforeShow: function(){
                $(".ui-datepicker").css('font-size', '1.4rem');
            }
        });

       $("div.bt_wrap #saveBtn").click(function(e){
            e.preventDefault();
            if(common.validate.checkRequired("div.board_write input.required")){
                const pwd = $("input[name=password]").val();
                $("#content").val(editor.getMarkdown());
                let postForm = $("#postForm")[0];
                let postFormData = new FormData(postForm);
                // oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []);

                $.ajax({
                    url : '/posts',
                    method : 'PATCH',
                    // contentType : 'application/json',
                    // dataType: 'json',
                    // data : JSON.stringify(postEdit),
                    contentType: false,
                    processData: false,
                    data: postFormData,
                    success : function(response) {
                        alert("저장에 성공하였습니다.");
                        $("input[name=pwd]").val(pwd);
                        ef.attr("action", "/posts/"+postId);
                        ef.attr("method", "get");
                        ef.submit();
                    },
                    error: function(response) {
                        console.log('response : {}', response);
                        let responseJson = response.responseJSON;
                        if(responseJson != null){
                            let rCode = responseJson.code;
                            let rMessage = responseJson.message;
                            alert(rMessage);
                        }else{
                            alert("저장에 실패하였습니다.");
                        }
                    }
                });
            }
       });

       $("div.bt_wrap #cancelBtn").click(function(e){
            e.preventDefault();
            ef.attr("action","/posts/"+postId);
            ef.submit();
        });

       $("div.board_write input#password_field").on("keyup paste", function(){
           let $password = $(this);
           common.validate.password($password);
       });

        // editorLoading();
        //
        // function editorLoading(){
        //     nhn.husky.EZCreator.createInIFrame({
        //         oAppRef: oEditors,
        //         elPlaceHolder: "content",
        //         sSkinURI: "/smartEditor/SmartEditor2Skin.html",
        //         fCreator: "createSEditor2"
        //     });
        // }
    });
</script>
</html>