<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="~{/layout/header :: headerFragment}"/>
<body>
<div class="board_wrap">
    <th:block th:replace="~{/layout/title :: titleFragment('속닥속닥 게시판',${postSearch.categoryCode})}"/>
    <div class="bt_wrap right">
        <a th:if="${postSearch.categoryCode == 'BBS'}" class="on" href="javascript:void(0);" id="writeBtn">등록</a>
    </div>
    <div class="board_list_wrap">
        <div class="board_list_nav">
            <ul>
                <li class="category none"><a href="javascript:void(0);" onclick="fn_category();">전체</a></li>
                <li class="category news"><a href="javascript:void(0);" onclick="fn_category('NEWS');">뉴스</a></li>
                <li class="category bbs"><a href="javascript:void(0);" onclick="fn_category('BBS');">게시판</a></li>
            </ul>
        </div>
        <div class="board_list" th:with="result=${response.result}">
            <div class="top">
                <div class="num">번호</div>
                <div class="header title" title="title" th:classappend="${postSearch.dir_props} == 'title'?${postSearch.dir}:''">제목<li></li></div>
                <div class="header writer" title="userId" th:classappend="${postSearch.dir_props} == 'userId'?${postSearch.dir}:''">글쓴이<li></li></div>
                <div class="header date" title="createdTime" th:classappend="${postSearch.dir_props} == 'createdTime'?${postSearch.dir}:''">작성일<li></li></div>
                <div class="header count" title="count" th:classappend="${postSearch.dir_props} == 'count'?${postSearch.dir}:''">조회<li></li></div>
            </div>
            <div th:if="${#lists.isEmpty(result.content)}">
                <div th:colspan="5" style="text-align: center; color:#959595;width:100%;">게시물이 없습니다.</div>
            </div>
            <div th:each="arr:${result.content}">
                <div class="num">[[${arr.id}]]</div>
                <div class="title">
                    <a th:if="${arr.locked == 1}" th:href="${arr.id}" class="lockedLink">[[${arr.title}]]</a>
                    <a th:if="${arr.locked != 1}" th:href="${arr.id}" class="normalLink">[[${arr.title}]]</a>
                    <span th:if="${arr.locked == 1}">🔒</span>
                </div>
                <div class="writer">[[${arr.userId}]]</div>
                <div class="date">[[${arr.createdTime}]]</div>
                <div class="count">[[${arr.count}]]</div>
            </div>
        </div>

        <div class="board_search">
            <select name="kw_opt" id="kwOpt">
                <option value="title" th:selected="${postSearch.kw_opt} == 'title'">제목</option>
                <option value="userId" th:selected="${postSearch.kw_opt} == 'userId'">글쓴이</option>
            </select>
            <input type="text" id="kw" name="kw" title="검색어" class="required" placeholder="검색어를 입력하세요." th:value="${postSearch.kw}"/>
            <a href="javascript:void(0);" id="searchBtn">검색</a>
        </div>

        <div class="board_page" id="pagination">
            <th:block th:if="${response.prevPage}">
                <a th:href="${response.prevPage.pageNumber}+1" class="bt first" ><<</a>
            </th:block>
            <a th:href="${response.currentPageNo==1}?1:${response.currentPageNo-1}" class="bt prev"><</a>

            <a th:each="p:${response.pageList}"
               class="num"
               th:classappend="${p.pageNumber+1 == response.currentPageNo}?on:''"
               th:href="${p.pageNumber}+1">[[${p.pageNumber}+1]]</a>

            <a th:href="${response.currentPageNo==response.totalPageNum}?${response.currentPageNo}:${response.currentPageNo}+1" class="bt next">></a>

            <th:block th:if="${response.nextPage}">
                <a th:href="${response.nextPage.pageNumber}+1" class="bt last">>></a>
            </th:block>
        </div>
        <form id="postForm" method="get">
            <input type="hidden" name="page" th:value="${response.currentPageNo}">
            <input type="hidden" name="size" th:value="${response.currentPage.pageSize}">
            <input type="hidden" name="kw_opt" th:value="${postSearch.kw_opt}">
            <input type="hidden" name="kw" th:value="${postSearch.kw}">
            <input type="hidden" name="dir" th:value="${postSearch.dir}">
            <input type="hidden" name="dir_props" th:value="${postSearch.dir_props}">
            <input type="hidden" name="category" th:value="${postSearch.category}">
            <input type="hidden" name="reqType"/>
        </form>
    </div>
</div>
</body>
<th:block th:replace="~{/layout/footer :: footerFragment}"/>
<script th:inline="javascript">
    $(document).ready(function(){
        const pf = $("#postForm");
        const category = [[${postSearch.category}]];

        if(category === 'NEWS'){
            $(".board_list_nav li.category.news").addClass("on");
        }else if(category == 'BBS'){
            $(".board_list_nav li.category.bbs").addClass("on");
        }else{
            $(".board_list_nav li.category.none").addClass("on");
        }

        $("div.bt_wrap a#writeBtn").click(function(e){
            pf.attr("action", "/posts/create");
            pf.submit();
        });

        $("#pagination a").click(function(e){
           e.preventDefault();
           $("input[name=page]").val($(this).attr("href"));
           pf.submit();
        });

        $(".board_list div.title a.normalLink").click(function(e){
           e.preventDefault();
           let postId = $(this).attr("href");
           pf.attr("action", '/posts/'+postId);
           pf.submit();
        });

        $(".board_search a#searchBtn").click(function(e){
            e.preventDefault();
            fn_search();
        });

        $("div.board_list div.top div.header").click(function(e){
            e.preventDefault();
            let dir = $("#postForm input[name=dir]");
            let dirVal = dir.val();
            if(dirVal == null || dirVal == 'asc'){
                $("#postForm input[name=dir]").val('desc');
            } else {
                $("#postForm input[name=dir]").val('asc');
            }
            $("#postForm input[name=dir_props]").val($(this).attr("title"));
            pf.attr("action", "");
            pf.submit();
        });

        $("div.board_search input[name=kw]").on("keypress", function(e){
            if(e.keyCode == 13){
                fn_search();
            }
        });

        $(".board_list div.title a.lockedLink").click(function(e){
            e.preventDefault();
            const postId = $(this).attr("href");
            $("input[name=reqType]").val("2");
            pf.attr("action", "/password/"+postId);
            pf.submit();
        });
    });

    function fn_search(){
        $("#postForm input[name=kw_opt]").val($("select[name=kw_opt]").val());
        $("#postForm input[name=kw]").val($("input[name=kw]").val());
        $("#postForm input[name=page]").val(1);
        $("#postForm").submit();
    }

    function fn_category(code){
        $("#postForm input[name=category]").val(code);
        fn_search();
    }
</script>
</html>