<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/header :: headerFragment}"/>
<body>
  <div class="password_confirm">
    <h5 class="password_title">
      <strong>비밀번호 확인</strong>
    </h5>
    <th:block th:if="${reqType} == '1'">
      <h6 class="password_desc">
        사유
        <span class="description">게시글 삭제</span>
      </h6>
      <section>
        <div class="alert alert-warning">
          <p>
            작성자만 글 삭제할 수 있습니다.<br/>
            작성자 본인이라면, 글 작성시 입력한 비밀번호를 입력하여 글을 삭제할 수있습니다.
          </p>
        </div>
      </section>
    </th:block>
    <th:block th:if="${reqType} == '2'">
      <h6 class="password_desc">
        사유
        <span class="description">해당 게시글은 비밀글입니다.</span>
      </h6>
      <section>
        <div class="alert alert-warning2">
          <p>
            비밀글 기능으로 보호된 글입니다.<br>
            작성자와 관리자만 열람하실 수 있습니다.<br>본인이라면 비밀번호를 입력하세요.
          </p>
        </div>
      </section>
    </th:block>
    <section>
       <label class="password_field_title">비밀번호</label>
       <label class="password_field">
         <input type="password" name="password" class="required" title="비밀번호"/>
       </label>
    </section>
    <div class="bt_wrap">
      <a href="#" class="warning" id="delBtn">확인</a>
      <a href="#" class="" id="cancelBtn">취소</a>
    </div>
  </div>
  <form id="reqForm" method="get">
    <input type="hidden" name="page" th:value="${postSearch.page}">
    <input type="hidden" name="size" th:value="${postSearch.size}">
    <input type="hidden" name="kw_opt" th:value="${postSearch.kw_opt}">
    <input type="hidden" name="kw" th:value="${postSearch.kw}">
    <input type="hidden" name="category" th:value="${postSearch.category}">
    <input type="hidden" name="pwd"/>
  </form>
</body>
<th:block th:replace="~{/layout/footer :: footerFragment}"/>
<script th:inline="javascript">
  $(document).ready(function(){
      let rf = $("#reqForm");
      let postId = [[${postId}]];
      const reqType = [[${reqType}]];
      const category = [[${postSearch.category}]];
      let forwardUrl = '/posts';
      if(category === 'BBS'){
        forwardUrl = '/blog';
      }
      let passwordInput = $("input[name=password]");

      passwordInput.on("keyup paste", function(){
        common.validate.password($(this));
      });

      $(".bt_wrap #delBtn").click(function(e){
        if(common.validate.checkRequired(".password_field input.required")) {
          let jsonData = {'password': passwordInput.val()};
          console.log(reqType);
          if (reqType === '1' && confirm("삭제하시겠습니까? 삭제한 후에는 되돌릴 수 없습니다.")) {
            $.ajax({
              url: '/posts/' + postId,
              contentType: 'application/json',
              method: 'DELETE',
              data: JSON.stringify(jsonData),
              success: function (response) {
                console.log(response);
                rf.attr("action", forwardUrl);
                rf.submit();
              },
              error: function (response) {
                console.log(response);
                let responseJson = response.responseJSON;
                let rCode = responseJson.code;
                let rMessage = responseJson.message;

                if (rMessage != null) {
                  alert(rMessage + "(오류코드 : " + rCode + ")");
                } else {
                  alert("저장에 실패하였습니다. (오류코드 : " + rCode + ")");
                }
              }
            });
          }else if(reqType === '2'){
            $.ajax({
              url: '/password/check/' + postId,
              contentType: 'application/json',
              method: 'POST',
              data: JSON.stringify(jsonData),
              success: function (response) {
                console.log(response);
                $("input[name=pwd]").val(passwordInput.val());
                rf.attr("action", "/posts/"+postId);
                rf.submit();
              },
              error: function (response) {
                console.log(response);
                let responseJson = response.responseJSON;
                let rCode = responseJson.code;
                let rMessage = responseJson.message;

                if (rMessage != null) {
                  alert(rMessage + "(오류코드 : " + rCode + ")");
                } else {
                  alert("비밀번호가 올바르지 않습니다.");
                }
              }
            });
          }
        }
      });

      $(".bt_wrap #cancelBtn").click(function(e){
          if(reqType === '1'){
            rf.attr("action", "/posts/"+postId);
          }else{
            rf.attr("action", forwardUrl);
          }
          rf.submit();
      });
  });
</script>
</html>