<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/layout/header :: headerFragment"/>
<body>
<div class="board_wrap">
    <th:block th:replace="/layout/title :: titleFragment('속닥속닥 게시판',${postSearch.categoryCode})"/>
    <div class="board_view_wrap">
        <div class="board_view">
            <div class="title" th:if="${response.locked == 1}" th:text="|${response.title}🔒|"></div>
            <div class="title" th:if="${response.locked != 1}" th:text="${response.title}"></div>
            <div class="info">
                <dl>
                    <dt>번호</dt>
                    <dd th:text="${response.id}"></dd>
                </dl>
                <dl>
                    <dt>글쓴이</dt>
                    <dd th:text="${response.userId}"></dd>
                </dl>
                <dl>
                    <dt>작성일</dt>
                    <dd th:text="${response.createdTime}"></dd>
                </dl>
                <dl th:if="${not #strings.isEmpty(response.lastUpdatedTime) and
                        not #strings.equals(response.lastUpdatedTime, response.createdTime)}" class="updt">
                    <dt>수정일</dt>
                    <dd th:text="${response.lastUpdatedTime}"></dd>
                </dl>
                <dl>
                    <dt>조회수</dt>
                    <dd th:text="${response.count}"></dd>
                </dl>
            </div>
            <div class="file_view">
                <ul>
                    <li class="file_info" th:each="file:${response.files}">
                        - 첨부파일 :
                        <p th:text="|${file.originalFileName} (${file.fileSize}kbps)|"></p> -
                        <a class="file_link" th:href="|javascript:fn_download('${file.id}');|">다운로드</a>
                    </li>
                </ul>
            </div>
            <div class="cont">
                <p class="img_view" th:each="file:${response.files}">
                    <img th:src="|/download/${file.id}|"
                         th:if="${file.fileExt} == 'png' or ${file.fileExt} == 'jpg' or ${file.fileExt} == 'jpeg'">
                </p>
                <p th:utext="${#strings.replace(response.content,'&#10;','&lt;br&gt;')}"></p>
            </div>
        </div>
<!--        <div class="reply_wrap">-->
<!--            <div class="reply_title">-->
<!--                <strong>댓글목록 <span class="reply_cnt">[💬52]</span></strong>-->
<!--            </div>-->
<!--            <div class="reply_view_wrap">-->
<!--                <div class="reply_view">-->
<!--                    <div class="user_info">-->
<!--                        <dl>-->
<!--                            <dt>글쓴이</dt>-->
<!--                            <dd>user01010</dd>-->
<!--                        </dl>-->
<!--                        <dl>-->
<!--                            <dt>시간</dt>-->
<!--                            <dd>2023-09-11 18:14</dd>-->
<!--                        </dl>-->
<!--                        <div class="bt_small_wrap">-->
<!--                            <a href="#" class="on">삭제</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="user_cont">-->
<!--                        <p>-->
<!--                            댓글<br/>-->
<!--                            댓글<br/>-->
<!--                            댓글<br/>-->
<!--                            댓글<br/>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="reply_view">-->
<!--                    <div class="user_info">-->
<!--                        <dl>-->
<!--                            <dt>글쓴이</dt>-->
<!--                            <dd>user20202</dd>-->
<!--                        </dl>-->
<!--                        <dl>-->
<!--                            <dt>시간</dt>-->
<!--                            <dd>2023-09-11 19:14</dd>-->
<!--                        </dl>-->
<!--                        <div class="bt_small_wrap">-->
<!--                            <a href="#" class="on">삭제</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="user_cont">-->
<!--                        <p>-->
<!--                            댓글<br/>-->
<!--                            댓글<br/>-->
<!--                            댓글<br/>-->
<!--                            댓글<br/>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="bt_wrap">
            <a th:if="${postSearch.categoryCode == 'BBS'}" href="javascript:void(0);" id="modifyBtn" class="on">수정</a>
            <a th:if="${postSearch.categoryCode == 'BBS'}" href="javascript:void(0);" id="deleteBtn" class="warning">삭제</a>
            <a href="javascript:void(0);" id="listBtn">목록</a>
        </div>
        <form id="viewForm" th:action="@{/posts}" method="get">
            <input type="hidden" name="page" th:value="${postSearch.page}">
            <input type="hidden" name="size" th:value="${postSearch.size}">
            <input type="hidden" name="kw_opt" th:value="${postSearch.kw_opt}">
            <input type="hidden" name="kw" th:value="${postSearch.kw}">
            <input type="hidden" name="category" th:value="${postSearch.category}">
            <input type="hidden" name="reqType"/>
        </form>
        <form id="fileForm" action="" method="get">
        </form>
    </div>
</div>
</body>

<th:block th:replace="/layout/footer :: footerFragment"/>
<script th:inline="javascript">
    $(document).ready(function(){
        let vf = $("#viewForm");

        $("div.bt_wrap #listBtn").click(function(e){
            e.preventDefault();
            vf.submit();
        });

        $("div.bt_wrap #modifyBtn").click(function(e){
            e.preventDefault();
            const postId = [[${response.id}]];
            vf.attr("action", "/posts/edit/"+postId);
            vf.submit();
        });

        $("div.bt_wrap #deleteBtn").click(function(e){
            e.preventDefault();
            const postId = [[${response.id}]];
            $("input[name=reqType]").val("1");
            vf.attr("action", "/password/"+postId);
            vf.submit();
        });
    });

    function fn_download(fileId){
        let fileDownUrl = '/download/'+fileId;
        $("#fileForm").attr("action", fileDownUrl);
        $("#fileForm").submit();
    }
</script>
</html>