@media (max-width: 1000px) {
    .board_wrap {
        width:100%;
        min-width:320px;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .board_list .num,
    .board_list .writer,
    .board_list .count {
        display: none;
    }

    .board_list .date {
        width : 40%;
    }

    .board_list .title {
        text-indent: 10px;
    }

    .board_list .top .title{
        text-indent: 0;
    }

    .board_page a {
        width : 26px;
        height: 26px;
    }

    .board_page a.bt {
        padding-top : 7px;
    }
    
    .board_page a.num {
        padding-top: 6px;
    }

    .board_view .info dl {
        width : 50%;
        padding : 0;
    }

    .board_view .info dl:nth-child(-n+2) {
        margin-bottom: 5px;
    }

    .board_view .info dl.updt {
        margin-bottom: 5px;
    }

    .board_view .info dl::before {
        display: none;
    }

    .board_view .info dl dt,
    .board_view .info dl dd{
        font-size: 1.3rem;
    }

    .board_view .title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .board_view .cont{
        font-size: 1.4rem;
    }

    .board_write .admin dt,
    .board_write .title dt,
    .board_write .info dt {
       display: none;
    }

    .board_write .admin dd,
    .board_write .title dd,
    .board_write .info dd {
        width: 100%;
    }

    .board_write .admin select {
        width : 49%;
    }

    .board_write .title input[type="text"],
    .board_write .info input[type="text"],
    .board_write .info input[type="password"] {
        width: 100%;
    }

    .board_write .info dl {
        width: 48%;
    }

    .board_write .info dl:first-child{
        margin-right: 1rem;
    }

    nav a {
        font-size: 15pt;
    }

    .board_title {
        margin-bottom: 15px;
        display: inline-block;
    }

    .board_title strong {
        font-size: 2.5rem; /*최상위 값(HTML태그)에 값을 곱한 것 = 30px*/
    }

    .board_search input{
        width: 35%;
        height: 40px;
    }

    .board_search a {
        min-width: 10%;
    }

    .board_search select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

@media (max-width: 700px){
    .bt_wrap a {
        min-width: 40px;
    }
}