* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: '돋움', Dotum, '굴림', Gulim, Helvetica, Sans-serif, serif;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color : inherit;
}

h1, h2, h3 {
    margin-top : 1.5rem;
    margin-bottom : 0.75rem;
}

.board_view .cont{
    padding: 18px;
    border-bottom: 1px solid #000;
    line-height: 170%;
    font-size: 1.4rem;
}

.board_view .cont p {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 0.1em;
}

.board_view .cont ul,
.board_view .cont ol{
    display: block;
    list-style-type: disc !important;
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
    padding-inline-start: 20px;
}

.board_view .cont li{
    display: list-item;
    list-style-type: disc !important;
}

.board_view .cont ul > li > ul {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}

.board_wrap {
    width: 1000px;
    margin: 100px auto;
}

.board_title {
    margin-bottom: 30px;
    display: inline-block;
}

.board_title strong {
    font-size: 3rem; /*최상위 값(HTML태그)에 값을 곱한 것 = 30px*/
}

.board_title p {
    margin-top: 10px;
    font-size: 1.4rem;
}

.board_title p.desc {
    font-size : 1.2rem;
    color : #9999;
    font-weight: bold;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap.right {
    float: right;
}

.bt_wrap a:first-child {
    margin-left:0px;
}

.bt_wrap a{
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a.on {
    background: #000;
    color : #fff; 
}

.bt_wrap a.warning {
    background: #f8243d;
    color : #fff;
    border : 1px solid #f8243d !important;
}

.board_list {
    width : 100%;
    border-top: 2px solid #000;
}

.board_list > div {
    border-bottom :1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom : 1px solid #999;
}

.board_list > div.top > div.header {
    cursor : pointer;
}

.board_list > div.top > div.header > li {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.board_list > div.top > div.header.asc > li {
    background: url('../image/sort-arrow-up-16.png') no-repeat;
}

.board_list > div.top > div.header.desc > li {
    background: url('../image/sort-arrow-down-16.png') no-repeat;
}

.board_list > div.top > div.header {
    cursor : pointer;
}

.board_list > div:last-child {
    border-bottom : 2px solid #000;
}

.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size : 1.4rem;
}

.board_list > div.top > div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 60%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}

.board_list .writer {
    width: 10%;
}

.board_list .date {
    width: 10%;
}

.board_list .count {
    width: 10%;
}

.board_search {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_search a {
    display: inline-block;
    min-width: 80px;
    margin-left: 5px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.2rem;
    background: #000;
    color: #ffffff;
}

.board_search input{
    margin-left: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: 20%
}

.board_search select {
    box-sizing: border-box;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: normal;
    display: inline-block;
    padding: 5px;
    height: 42px;
    outline: 0;
    border-width: 1px;
    border-style: solid;
    background: #FFF;
    color: #4b4b4d;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}


.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-left:0;
    vertical-align: middle;
    line-height: 100%;  
}

.board_page a.bt {
    padding-top : 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.4rem;
}

.board_page a.num.on {
    border-color : #000;
    background: #000;
    color: #fff;
}

.board_page a:first-child{
    border-left: 1px solid #ddd;
}

.board_view {
    width: 100%;
    border-top: 2px solid #000;
    /* font-size: 1.4rem; */
}

.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 2rem;
    font-weight: bold;
}

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.board_view .info dl:first-child{
    padding-left: 0px;
}

.board_view .info dl::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    width: 1px;
    height: 15px;
    background-color: #ddd;
}

.board_view .info dl:first-child:before {
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd{
    display: inline-block;
    font-size: 1.4rem;
}


.board_view .info dl dt {
}

.board_view .info dl dd {
    margin-left: 10px;
    color: #777;
}

.board_view .info dl.updt {
    color: #999;
}

.board_view .file_view li {
    padding: 8px 0;
    border-bottom: 1px solid #eaeaea;
    font-size: 1.2rem;
}

.board_view .file_view .file_info p {
    display: inline-block;
    font-weight: bold;
}

.board_view .file_view .file_link {
    text-decoration: underline;
}

.board_view .img_view {
}

.board_view .img_view img{
    display: block;
    max-width: 100%;
    heigth: auto;
    margin-bottom: 10px;
}

/** board_write */

.board_write {
    border-top: 2px solid #000;
}

.board_write .locked,
.board_write .title{
    border-bottom: 1px dashed #ddd;
}

.board_write .locked,
.board_write .admin,
.board_write .title,
.board_write .info {
    padding: 15px;
}

.board_write .info {
    border-bottom: 1px solid #000;
    font-size: 0;
}

.board_write .locked dt,
.board_write .locked dd,
.board_write .admin dt,
.board_write .admin dd,
.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.board_write .locked dt,
.board_write .admin dt,
.board_write .title dt,
.board_write .info dt {
    width: 100px;
}

.board_write .locked dl,
.board_write .admin dl,
.board_write .title dl,
.board_write .file dl{
    font-size: 0;
}

.board_write .title dl dd p{
    margin-top : 5px;
}

.board_write .admin dd,
.board_write .title dd,
.board_write .file dl {
    width: calc(100% - 100px);
}

.board_write .admin select,
.board_write .title input[type="text"],
.board_write .info input[type="text"],
.board_write .info input[type="password"] {
    padding: 10px;
    box-sizing: border-box;
}

.board_write .admin select {
    width: 22%;
}

.board_write .title input[type="text"] {
    width: 80%;
}

.board_write .info dl {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.board_write .cont {
    border-bottom: 1px solid #000;
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}

.board_write .file dl{
    margin: 10px;
}

.board_write .admin {
    border-bottom: 1px dashed #ddd;
}

.board_write input.sessionUserName {
    border: none;
    background: #dcdcdc;
}

.board_write .file_view li {
    padding: 8px 0;
    border-bottom: 1px solid #eaeaea;
    font-size: 1.2rem;
}

.board_write .file_view .file_info p {
    display: inline-block;
    font-weight: bold;
}

.reply_wrap {
    width: 100%;
    margin-top: 10px;
}

.reply_wrap .reply_title {
    padding: 20px 15px;
    border-bottom: 1px solid #000;
    font-size: 1.8rem;
    font-width: bold;
    background: #fafafa;
}

.reply_wrap .reply_cnt {
    margin-left: 5px;
    color: #f8243d;
}

.reply_view {
    margin-bottom: 5px;
    border-top: 1px solid #999;
}

.reply_view .user_info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
    background-color: #ddd;
}

.reply_view .user_info dl{
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.reply_view .user_info dl:first-child {
    padding-left: 0;
}

.reply_view .user_info dl:first-child:before {
    display: none;
}

.reply_view .user_info dl::before{
    content: "";
    position: absolute;
    top: 2px;
    display: block;
    width: 1px;
    height: 15px;
}

.reply_view .user_info dl dt,
.reply_view .user_info dl dd {
    display: inline-block;
    font-size: 1.4rem;
}

.reply_view .user_info dl dd{
    margin-left: 10px;
    color: #777
}

.bt_small_wrap {
    display: inline-block;
    text-align: center;
    font-size: 0;
    margin-left: 10px;
}

.bt_small_wrap a:first-child {
    margin-left: 0px;
}

.bt_small_wrap a{
    display: inline-block;
    min-width: 40px;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.2rem;
}

.bt_small_wrap a.on {
    background: #000;
    color: #fff;
}

.reply_view .user_cont {
    padding: 15px;
    line-height: 170%;
    font-size: 1.4rem;
}

.password_confirm {
    position: relative;
    width: 360px;
    padding: 25px 15px;
    background: #fff;
    margin: 100px auto;
    border: 1px solid #d5d5d5;
}

.password_title {
    margin-bottom: 15px;
}

.password_title strong {
    font-size: 2rem;
}

.password_desc {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.password_confirm span.description {
    color : #f8243d;
}

.alert{
    padding: 15px;
    border-radius: 0;
    font-size: 1.5rem;
}

.alert-warning {
    background: #fff8d1;
    color: rgba(0,0,0,.5);
    border-color: #fff2ab;
    margin-bottom: 15px;
}

.alert-warning2 {
    background: #c9e0f0;
    color: rgba(0,0,0,.5);
    border-color: #c9e0f0;
    margin-bottom: 15px;
}

.alert-warning p {
    color: #AA3510;
}

.password_field_title {
    border-right: 0;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: left;
    white-space: normal;
    color: inherit;
    margin-bottom: 10px;
    line-height: 1;
    display: block;
}

.password_field input[type=password],
.password_field input[type=text]{
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #d5d5d5;
    border-radius: 8px;
    background: #FFF;
    color: #4b4b4d;
    line-height: 2.5;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.board_top {
    font-size: 1.4rem;
}

.board_top_right {
    text-align: right;
}

.board_top_right a{
    margin : 0.5rem;
}

.board_top_right p{
    display: inline-block;
}

header {
    padding: 10px 0; /* 상하 여백 조절 */
}

/** header */
header {
    margin-bottom: 1.2rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left; /* 메뉴 항목 가운데 정렬 */
}

nav li {
    display: inline-block;
    margin-right: 20px; /* 각 메뉴 항목 간격 조절 */
}

nav a {
    text-decoration: none;
    color: #000000; /* 메뉴 항목 텍스트 색상 */
    font-size: 25px; /* 폰트 크기 조절 */
    font-weight: bold; /* 폰트 굵기 조절 */
}

/* 호버 효과 추가 */
nav a:hover {
    color: #009999; /* 호버 시 텍스트 색상 변경 */
}

nav a.on {
    color: #009999;
}